@{
    ViewBag.Title = "ConfirmAccount";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        계정을 확인해 주셔서 감사합니다. @Html.ActionLink("로그인하려면 여기를 클릭하십시오.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
